* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}

html {
    font-size: 13.333333vw;
}

html,
body {
    width: 100%;
    height: 100%;
}

%juzhong {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

header {
    width: 100%;
    height: 1rem;
    display: flex;

    .h_left {
        flex: 3;
        @extend %juzhong;
        span {
            width: 40%;
            height: 100%;
            color: #383838;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @extend %juzhong;
            justify-content: space-between;
            &:nth-child(2){
                width: 60%;
            }
            &:nth-child(1){
               background: url('../img/logo-2x.png') no-repeat center;
               background-size: 60% 60%;
            }
            a {
                color: #383838;
                font-size: 0.32rem;
                width: 50%;
                display: inline-block;
                text-align: center;
               
            }
            i{
                font-size: 0.18rem;
               position: relative;
               top: 0.06rem;
               width: 50%;
               text-align: center;
               margin-right: 0.2rem;
            }
        }

    }

    .h_mid {
        flex: 4;
        position: relative;
        @extend %juzhong;
        input{
            box-sizing: border-box;
            width: 100%;
            border: solid 0.02rem #ccc;
            background: #F2F2F2;
            height: 0.6rem;
            border-radius: 2rem;
            padding-left: 0.6rem;
            outline: none;
            &::placeholder{
                color: #ADAEBE
            }
        }
        i{
            position: absolute;
            left: 0.2rem;
            font-size: 0.30rem;
            color: #ADAEBE;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .h_right {
        flex: 3;
        font-size: 0.32rem;
        @extend %juzhong;
        span{
            width: 40%;
            @extend %juzhong;
            &:nth-child(2){
                width: 60%;
            }
            a{
                
                font-size: 0.32rem;
               
                display: inline-block;
                text-align: center;
                margin-right: 0.1rem;
            }
            i{
                font-size: 0.18rem;
               position: relative;
               top: 0.06rem;
               margin-right: 0.2rem;
               text-align: center;
            }
        }
    }
}
main{
    width: 100%;
    flex: 1;
    overflow: auto;
    .banner{
        width: 100%;
        height: 1.5rem;
        .swiper-container,.swiper-wrapper,.swiper-slide,img{
            width: 100%;
            height: 100%;
        }
    }
    .img{
        width: 100%;
        
        padding: 0 0.06rem;
        box-sizing: border-box;
       overflow: hidden;
        .top{
            width: 100%;
            height: calc(2.88rem/3*2);
            display: flex;
            margin-top: 0.1rem;
            .img-left{
                width: calc(100%/3);
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .img-right{
                width: calc(100%/3*2);
                display: flex;
                flex-flow: row wrap;
                margin-left: 0.02rem;
                img{
                    width: 50%;
                    height: 50%;
                }
            }
        }
        .bottom{
            width: 100%;
            height: calc(2.88rem/3);
            display: flex;
            
            margin-top: 0.02rem;
            img{
                width: calc(100%/3);
                flex: 1;
            }
        }
        .o{
            margin-top: 0.1rem;
        }
    }
    .list{
        width: 100%;
        height: calc(1.26rem*2);
        @extend %juzhong;
        display: flex;
        flex-flow: row wrap;
        .item{
            width: 20%;
            height: 50%;
            display: flex;
            flex-direction: column;
            @extend %juzhong;
            i{
                width: 0.64rem;
                height: 0.64rem;
                display: inline-block;
                background: url('../img/1.png') no-repeat center;
                background-size: cover;
                @extend %juzhong;
            }
            &:nth-child(2) i{
                background: url('../img/2.png') no-repeat;
                background-size: cover;
            }
            &:nth-child(3) i{
                background: url('../img/3.png') no-repeat;
                background-size: cover;
            }
            &:nth-child(5) i{
                background: url('../img/5.png') no-repeat;
                background-size: cover;
            }
            &:nth-child(6) i{
                background: url('../img/6.png') no-repeat;
                background-size: cover;
            }
            &:nth-child(7) i{
                background: url('../img/7.png') no-repeat;
                background-size: cover;
            }
            &:nth-child(8) i{
                background: url('../img/8.png') no-repeat;
                background-size: cover;
            }
            &:nth-child(9) i{
                background: url('../img/6.png') no-repeat;
                background-size: cover;
            }
            &:nth-child(10) i{
                background: url('../img/9.png') no-repeat;
                background-size: cover;
            }
            span{
                font-size: 0.24rem;
                width: 100%;
                @extend %juzhong;
            }
        }
    }
    .xian{
        width: 100%;
        height: 0.16rem;
        background-color: #ccc;
    }
    .x{
        width: 100%;
        height: calc(1.07rem*2);
        display: flex;
        .x-left{
            width: 50%;
            height: 100%;
            display: flex;
            .l1{
                width: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .l2{
                font-size: 0.24rem;
               box-sizing: border-box;
               padding-left: 0.13rem;
               padding-top: 0.12rem;
               display: flex;
               flex-direction: column;
                p{ 
                    color: #222;
                    flex: 1;
                    &:nth-child(2){
                        color: orange;
                        font-size: 0.28rem;
                    }
                    &:nth-child(3){
                        span{
                            background: orange;
                            color: #fff;
                        }
                    }
                    &:nth-child(4){
                        span{
                            background: #4a4c5b;
                            color: #fff;
                            padding: 0.04rem;
                        }
                    }
                }
            }
        }
        .x-right{
            width: 50%;
            height: 100%;
            display: flex;
            .r1,.r2{
                width: 50%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .tui{
        width: 100%;
        .t-title{
            width: 100%;
            height: 1rem;
            font-size: 0.32rem;
            font-weight: bold;
            @extend %juzhong;
            &::before{
                content: "";
                width: 0.2rem;
                height: 0.02rem;
                background: #878787;
                margin-right: 0.2rem;
            }
            &::after{
                content: "";
                width: 0.2rem;
                height: 0.02rem;
                background: #878787;
                margin-left: 0.2rem;
            }
        }
        .t-nav{
            width: 100%;
            height: 0.6rem;
            @extend %juzhong;
            span{
                @extend %juzhong;
                height: 100%;
                flex: 1;
                font-size: 0.30rem;
                border-bottom: 0.02rem solid #ccc;
                &:nth-child(1){
                    border-bottom: 0.04rem solid green;
                }
            }
        }
        .content{
            width: 100%;
            display: flex;
            margin-top: 0.2rem;
            justify-content: space-around;
            .box{
                flex: 1;
               
                .one{
                    width: 100%;
                    height: calc(0.8rem*2);
                    @extend %juzhong;
                    justify-content: space-around;
                    img{
                        width: calc(1.09rem*2);
                        height: 100%;
                    }
                }
                .two{
                    width: 100%;
                    height: calc(0.21rem*2);
                    font-size: 0.28rem;
                    @extend %juzhong;
                    span{
                        @extend %juzhong;
                        font-size: 0.28rem;
                        font-weight: bold;
                    }
                }
                .three{
                    width: 100%;
                    height: calc(0.18rem*2);
                    font-size: 0.24rem;
                    @extend %juzhong;
                }
            }
           
        }
        .zi{
            width: 100%;
            @extend %juzhong;
            flex-flow: row wrap;
            margin-top: 0.1rem;
            span{
                @extend %juzhong;
                width: calc(100%/3);
                height: calc(0.38rem*2);
                font-size: 0.28rem;
                border: solid 0.02rem #eee;
                box-sizing: border-box;
            }
        }
        .mudi{
            width: 100%;
            height: 0.96rem;
            @extend %juzhong;
            font-size: 0.30rem;
            span{
                color: green;
            }
            i{
                width: 0.28rem;
                height: 0.28rem;
                @extend %juzhong;
                margin-left: 0.1rem;
                border-radius: 50%;
                border:solid 0.02rem green;
                color: green;
                position: relative;
                top: 0.05rem;
            }
        }
        
    }
    .hot{
        width: 100%;
        height: 1rem;
        font-weight: bold;
        @extend %juzhong;
        span{
            font-size: 0.32rem;
        }
        &::before{
            content: "";
            width: 0.2rem;
            height: 0.02rem;
            background: #878787;
            margin-right: 0.2rem;
        }
        &::after{
            content: "";
            width: 0.2rem;
            height: 0.02rem;
            background: #878787;
            margin-left: 0.2rem;
        }
    }
    .h-list{
        @extend %juzhong;
        flex-flow: row wrap;
        width: 100%;
        height: calc(1.72rem*2);
        img{
            width: calc(0.81rem*2);
            height: calc(0.81rem*2);
        }
    }
}
