* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: calc(100/750*100vw);
}

.nav, .nav div, .nav div:first-child, .footer-left, .footer-left span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 2.7rem;
  background: rgba(7, 17, 27, 0.5);
  display: flex;
  position: relative;
}

.left {
  width: 1.28rem;
  height: 1.28rem;
  margin: 0.48rem 0 0 0.48rem;
}

.left img {
  width: 100%;
  height: 100%;
}

.mid {
  width: 3.5rem;
  height: 1.24rem;
  margin: 0.48rem 0 0 0.32rem;
}

.mid p:nth-child(1) {
  font-size: 0.32rem;
  color: white;
  font-weight: bold;
  line-height: 0.36rem;
}

.mid p:nth-child(1) img {
  width: 0.62rem;
  height: 0.36rem;
  margin-right: 0.12rem;
  position: relative;
  top: 0.04rem;
}

.mid p:nth-child(2) {
  font-size: 0.24rem;
  color: white;
  font-weight: 200;
  line-height: 0.24rem;
  margin-top: 0.16rem;
}

.mid p:nth-child(3) {
  font-size: 0.2rem;
  color: white;
  font-weight: 200;
  line-height: 0.24rem;
  margin-top: 0.2rem;
  vertical-align: middle;
}

.mid p:nth-child(3) img {
  width: 0.26rem;
  height: 0.26rem;
  position: relative;
  top: 0.04rem;
  margin-right: 0.03rem;
}

.right {
  width: 0.88rem;
  height: 0.48rem;
  font-size: 0.2rem;
  color: white;
  font-weight: 200;
  line-height: 0.36rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0.24rem;
  text-align: center;
  margin-left: 0.8rem;
  margin-top: 1.4rem;
}

.right span:nth-child(1) {
  position: relative;
  left: 0.06rem;
}

.right span:nth-child(2) {
  margin-left: 0.02rem;
  position: relative;
  top: 0.06rem;
}

.gonggao {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.56rem;
  width: 100%;
  font-size: 0.2rem;
  background: rgba(7, 17, 27, 0.2);
}

.gonggao span:nth-child(1) {
  width: 0.45rem;
  height: 0.24rem;
  background: #fff;
  margin: 0.11rem 0 0 0.24rem;
  font-weight: 700;
}

.gonggao span:nth-child(2) {
  font-size: 0.2rem;
  color: white;
  font-weight: 200;
  line-height: 0.56rem;
  margin-left: 0.08rem;
}

.gonggao span:nth-child(3) {
  font-size: 0.2rem;
  color: white;
  font-weight: 200;
  line-height: 0.56rem;
  margin-left: 0.08rem;
  font-size: 0.24rem;
}

.main {
  flex: 1;
  overflow: auto;
}

.nav {
  display: flex;
  height: 0.8rem;
  border-bottom: solid 2px rgba(7, 17, 27, 0.1);
}

.nav div {
  flex: 1;
  font-size: 0.28rem;
  color: #4d555d;
  line-height: 0.28rem;
}

.nav div:first-child {
  flex: 1;
  font-size: 0.28rem;
  color: #f01414;
  line-height: 0.28rem;
}

.list {
  display: flex;
}

.list .list-left {
  width: 1.6rem;
  display: flex;
  flex-direction: column;
}

.list .list-left .item {
  width: 100%;
  height: 1.08rem;
  background: #F3F5F7;
  line-height: 0.42rem;
  border-bottom: solid 1px #DBDEE1;
}

.list .list-left .item span {
  font-size: 0.24rem;
  color: #4d555d;
  font-weight: 200;
  line-height: 0.28rem;
  margin-left: 0.24rem;
  width: 1.12rem;
}

.list .list-left .item:nth-child(2) {
  background: #fff;
}

.list .list-left .item:nth-child(2) span:nth-child(1) {
  width: 0.28rem;
  height: 0.28rem;
}

.list .list-left .item:nth-child(2) span:nth-child(1) img {
  width: 0.28rem;
  height: 0.28rem;
}

.list .list-left .item:nth-child(2) span:nth-child(2) {
  font-size: 0.24rem;
  font-weight: 700;
  margin-left: -0.18rem;
}

.list-right .danren {
  width: 5.9rem;
  height: 2.75rem;
  display: flex;
  flex-direction: column;
}

.list-right .danren .tese {
  width: 5.9rem;
  height: 0.52rem;
  background: #F4F5F7;
  border-left: solid 2px #DADDE2;
  font-size: 0.24rem;
  color: #93999f;
  line-height: 0.52rem;
  padding-left: 0.28rem;
}

.list-right .danren .pidan {
  display: flex;
  width: 5.9rem;
  height: 2.2rem;
}

.list-right .danren .pidan .tu {
  width: 1.14rem;
  height: 1.14rem;
  margin: 0.36rem 0 0 0.36rem;
}

.list-right .danren .pidan .tu img {
  width: 100%;
  height: 100%;
}

.list-right .danren .pidan .jieshao {
  margin-left: 0.2rem;
  margin-top: 0.36rem;
  width: 3rem;
  height: 1.4rem;
}

.list-right .danren .pidan .jieshao p:nth-child(1) {
  font-size: 0.28rem;
  color: #07111b;
  line-height: 0.28rem;
}

.list-right .danren .pidan .jieshao p:nth-child(2) {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
  margin-top: 0.16rem;
}

.list-right .danren .pidan .jieshao p:nth-child(3) {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
  margin-top: 0.16rem;
}

.list-right .danren .pidan .jieshao p:nth-child(4) {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.48rem;
}

.list-right .danren .pidan .jieshao p:nth-child(4) span {
  font-size: 0.28rem;
  color: red;
  line-height: 0.48rem;
}

.list-right .danren .pidan .jiahao {
  width: 0.4rem;
  height: 0.4rem;
  background: #00A0DC;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  font-size: 0.5rem;
  margin: 1.2rem 0 0 0.5rem;
  line-height: 0.36rem;
  text-align: center;
}

.list-right .duoren {
  width: 5.9rem;
  display: flex;
  flex-direction: column;
}

.list-right .duoren .tese {
  width: 5.9rem;
  height: 0.52rem;
  background: #F4F5F7;
  border-left: solid 2px #DADDE2;
  font-size: 0.24rem;
  color: #93999f;
  line-height: 0.52rem;
  padding-left: 0.28rem;
}

.list-right .duoren .pidan {
  display: flex;
  width: 5.9rem;
  height: 1.88rem;
  border-bottom: solid 1px #ccc;
}

.list-right .duoren .pidan .tu {
  width: 1.14rem;
  height: 1.14rem;
  margin: 0.36rem 0 0 0.36rem;
}

.list-right .duoren .pidan .tu img {
  width: 100%;
  height: 100%;
}

.list-right .duoren .pidan .jieshao {
  margin-left: 0.2rem;
  margin-top: 0.36rem;
  width: 3rem;
  height: 1.4rem;
}

.list-right .duoren .pidan .jieshao p:nth-child(1) {
  font-size: 0.28rem;
  color: #07111b;
  line-height: 0.28rem;
}

.list-right .duoren .pidan .jieshao p:nth-child(2) {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
  margin-top: 0.16rem;
}

.list-right .duoren .pidan .jieshao p:nth-child(3) {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
  margin-top: 0.16rem;
}

.list-right .duoren .pidan .jieshao p:nth-child(4) {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.48rem;
}

.list-right .duoren .pidan .jieshao p:nth-child(4) span {
  font-size: 0.28rem;
  color: red;
  line-height: 0.48rem;
}

.list-right .duoren .pidan .jiahao {
  width: 0.4rem;
  height: 0.4rem;
  background: #00A0DC;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  font-size: 0.5rem;
  margin: 1.2rem 0 0 0.5rem;
  line-height: 0.36rem;
  text-align: center;
}

.footer {
  width: 100%;
  height: 0.95rem;
  background: rgba(7, 17, 27, 0.5);
}

.footer-left {
  width: 1rem;
  height: 1rem;
  background: #131D26;
  border-radius: 50%;
  margin: -0.16rem 0 0 0.36rem;
}

.footer-left span {
  width: 0.88rem;
  height: 0.88rem;
  background: #2B343C;
  border-radius: 50%;
}
