*{
    margin: 0;
    padding: 0;
    list-style: none;
}
%juzhong{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 600px;
    height: 250px;
    border: solid 1px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    .top{
        flex: 6;
        background: pink;
        @extend %juzhong;
        flex-direction: column;
        .bar{
            width: 500px;
            height: 15px;
            border-radius: 10px;
            background-color: #ccc;
            position: relative;
            .color{
                //width: 200px;
             height: 15px;
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: red;
            
        }
        .colorBg{
            background-color: #ccc;
        }
            .ball1{
                position: absolute;
                left: 0;
                top: 50%;
                width: 25px;
                height: 25px;
                background-color: green;
                border-radius: 50%;
                transform: translate(-50%,-50%);
                cursor: pointer;
                
                span{
                    position: absolute;
                    left: 9px;
                    top: -31px;
                    width: 61px;
                    text-align: center;
                   line-height: 30px;
                    height: 30px;
                    background: #ccc;
                }
            }
            .ball2{
                position: absolute;
                right: 0;
                top: 50%;
                width: 25px;
                height: 25px;
                background-color: green;
                border-radius: 50%;
                transform: translate(50%,-50%);
                cursor: pointer;
                span{
                    position: absolute;
                    left: 9px;
                    top: -31px;
                    width: 61px;
                    text-align: center;
                   line-height: 30px;
                    height: 30px;
                    background: #ccc;
                }
            }
            .active{
                width: 7px;
                height: 30px;
                border-radius: 5px;
                background-color: red;
            }
        }
        .bg{
            background-color: yellow;
        }
        .num{
            width: 500px;
            // height: 40px;
            // line-height: 40PX;
            //margin-top: 20px;
            display: flex;
            justify-content: space-around;
            span:nth-child(1),span:nth-child(6),span:nth-child(11),span:nth-child(16),span:nth-child(21){
                font-size: 22px;
            }
        }
        .money{
            width: 500px;
            display: flex;
            // justify-content: space-around;
            span{
                display: flex;
                width: 20%;
                &:nth-child(1){
                    justify-content: flex-start;
                    padding-left: 7px;
                    box-sizing: border-box;

                }
                &:nth-child(2){
                    justify-content: center;
                    padding-right: 18px;
                    box-sizing: border-box;

                }
                &:nth-child(3){
                    justify-content: center;
                    padding-left: 12px;

                }
                &:nth-child(4){
                    justify-content: flex-end;
                    padding-right:20px; 
                }
                &:nth-child(5){
                    justify-content: flex-end;
                }
            }
        }
       
    }
    .bottom{
        flex: 4;
        @extend %juzhong;
        select{
            width: 150px;
            text-align: center;
            box-sizing: border-box;
            padding-left: 32%;
        }
    }
}
