* {
  margin: 0;
  padding: 0;
  list-style: none;
}

header .h-left, header .h-right, main .list .item, main .title, main .nav .navH, main .content .box .b-right .four i,
main .content .box .b-right .five i, main .load, footer, .nav .navH, .dingbu {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 13.333333vw;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1rem;
  background: #1C1B20;
  display: flex;
  position: relative;
}

header .h-left {
  width: 40%;
  height: 100%;
  overflow: hidden;
  font-size: 0.30rem;
  color: #fff;
}

header .h-right {
  width: 60%;
  height: 100%;
  transition: all 1s linear;
  position: absolute;
  right: 0;
}

header .h-right input {
  width: 90%;
  height: 60%;
  border-radius: 1rem;
  outline: none;
  padding-left: 0.2rem;
  box-sizing: border-box;
}

main {
  flex: 1;
  overflow: hidden;
}

main .wrap {
  width: 100%;
}

main .list {
  width: 100%;
  height: 3.2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 0.2rem;
}

main .list .item {
  width: 20%;
  height: 1.6rem;
  flex-direction: column;
}

main .list .item i {
  width: 0.88rem;
  height: 0.88rem;
  background-color: pink;
  display: inline-block;
  border-radius: 50%;
}

main .list .item span {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.28rem;
}

main .title {
  width: 100%;
  height: 0.6rem;
  font-size: 0.40rem;
}

main .title::before {
  content: "";
  width: 0.8rem;
  height: 0.02rem;
  background: #666;
  margin-right: 0.15rem;
}

main .title::after {
  content: "";
  width: 0.8rem;
  height: 0.02rem;
  background: #666;
  margin-left: 0.15rem;
}

main .nav {
  width: 100%;
  height: 0.8rem;
}

main .nav .navH {
  width: 100%;
  height: 0.8rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

main .nav .navH span {
  width: 25%;
  text-align: center;
  border-right: 1px solid #ccc;
  color: #666;
  font-size: 0.28rem;
}

main .nav .navH span:last-child {
  border: 0;
}

main .content {
  width: 100%;
}

main .content .box {
  display: flex;
  width: 100%;
  height: 2.4rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
  margin-top: 0.2rem;
}

main .content .box .b-left {
  width: 1.52rem;
  height: 1.14rem;
}

main .content .box .b-left img {
  width: 100%;
  height: 100%;
}

main .content .box .b-right {
  width: calc(100% - 1.52rem);
  height: 2.4rem;
  font-size: 0.24rem;
  padding: 0 0.2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main .content .box .b-right .one {
  width: 100%;
  height: 28%;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  font-size: 0.38rem;
}

main .content .box .b-right .two,
main .content .box .b-right .three,
main .content .box .b-right .four,
main .content .box .b-right .five {
  height: calc(72%/4);
}

main .content .box .b-right .two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .content .box .b-right .two i {
  width: 0.2rem;
  height: 0.2rem;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}

main .content .box .b-right .two span:nth-child(2) {
  margin-right: 0.08rem;
}

main .content .box .b-right .three span {
  margin-right: 0.1rem;
  padding-right: 0.08rem;
  position: relative;
}

main .content .box .b-right .three span::after {
  content: "";
  position: absolute;
  margin-left: 0.1rem;
  top: 0.07rem;
  width: 0.02rem;
  height: 0.2rem;
  background: #666;
}

main .content .box .b-right .three span:last-child::after {
  content: "";
  width: 0;
  height: 0;
}

main .content .box .b-right .four,
main .content .box .b-right .five {
  display: flex;
  margin-top: 0.1rem;
}

main .content .box .b-right .four i,
main .content .box .b-right .five i {
  width: 0.4rem;
  height: 0.4rem;
  background-color: orangered;
  margin-right: 0.2rem;
  font-style: normal;
  color: #fff;
}

main .load {
  width: 100%;
  height: 0.4rem;
  background: #eee;
  font-size: 0.30rem;
}

footer {
  width: 100%;
  height: 1rem;
  background-color: #fafafa;
}

footer .f-item {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .f-item i {
  width: 0.4rem;
  height: 0.4rem;
  background-color: palevioletred;
  display: inline-block;
  border-radius: 50%;
  margin: 0.06rem 0;
}

footer .f-item span {
  font-size: 0.36rem;
}

.nav {
  width: 100%;
  height: 0.8rem;
}

.nav .navH {
  width: 100%;
  height: 0.8rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.nav .navH span {
  width: 25%;
  text-align: center;
  border-right: 1px solid #ccc;
  color: #666;
  font-size: 0.28rem;
}

.nav .navH span:last-child {
  border: 0;
}

.fixed {
  position: fixed;
  left: 0;
  top: 1rem;
  z-index: 8;
}

.dingbu {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  font-size: 0.32rem;
  color: #ffff;
  background-color: red;
  position: fixed;
  bottom: 1rem;
  right: 0.08rem;
}
