* {
    margin: 0;
    padding: 0;
    list-style: none;
}

%juzhong {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: calc(100 / 750 * 100vw);
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;

    .top {
        width: 100%;
        height: 3.6rem;
        background: url('https://p0.meituan.net/hotelnoah/7dd2a3a1-5b95-4a96-b4ae-40440fde9b54.png.webp') no-repeat;
        background-size: 100% 100%;
    }

    .box {
        position: absolute;
        width: 90%;
        background-color: #fff;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        font-size: 0.30rem;

        .b-top {
            width: 100%;
            height: 1.1rem;
            box-sizing: border-box;
            border-bottom: 0.02rem solid #ccc;
            @extend %juzhong;
            position: relative;

            .t1,
            .t2 {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                span {
                    @extend %juzhong;
                    width: 90%;
                    height: 100%;
                    font-size: 0.36rem;
                    font-weight: bold;
                }
            }

            .t2 {
                display: flex;
                justify-content: flex-start;
                border-left: 0.02rem solid #ccc;
            }

            .border {
                position: absolute;
                left: 5%;
                bottom: 0;
                border-radius: .06rem;
                height: .1rem;
                width: calc(50%*0.9);
                background-color: #06c1ae;
                transition: all 0.4s linear;
            }
        }

        .form {
            box-sizing: border-box;
            padding: 0 .1rem;
            margin-top: 0.2rem;

            .f-one {
                width: 100%;
                height: 1.1rem;
                display: flex;

                .o-left {
                    flex: 2;
                    @extend %juzhong;
                    justify-content: flex-start;
                    box-sizing: border-box;
                    padding-left: 0.1rem;
                    color: #666;
                }

                .o-right {
                    flex: 8;
                    font-size: 0.32rem;
                    @extend %juzhong;
                    justify-content: flex-start;
                    padding-left: 0.1rem;
                    box-sizing: border-box;
                    position: relative;

                    i {
                        position: absolute;
                        top: 50%;
                        right: 10%;
                        transform: translateY(-50%);
                        font-style: normal;
                        color: #999;
                        font-size: 0.36rem;
                        font-weight: bolder;
                    }
                }

                &:nth-child(2) {
                    height: 1.5rem;

                    .o-right {
                        height: 100%;
                        display: flex;

                        justify-content: flex-start;
                    }

                    .p {
                        display: flex;
                        height: 100%;
                        flex-direction: column;

                        .active {
                            height: 100%;
                        }

                        p {
                            display: flex;
                            justify-content: flex-start;
                            padding-left: 0.1rem;
                            box-sizing: border-box;
                            height: 50%;
                            align-items: center;

                            span {
                                &:nth-child(1) {
                                    margin-right: 0.2rem;
                                }

                                &:nth-child(2) {
                                    font-size: 0.28rem;
                                    color: #666;
                                }

                                &:nth-child(3) {
                                    font-size: 0.28rem;
                                    color: #666;
                                }
                            }
                        }
                    }

                }
            }

            .two {
                width: 90%;
                height: 1.12rem;
                border-color: #2bb2a3;
                color: #fff;
                margin: 0.1rem auto;

                button {
                    width: 100%;
                    height: 100%;
                    background: #2bb2a3;
                    border: 0;
                    color: #fff;
                    font-size: 0.34rem;
                    border-radius: 0.1rem;
                }
            }
        }
    }

    .mask {
        width: 100%;
        height: 0;
        background-color: rgba($color: #000000, $alpha: .5);
        position: fixed;
        left: 0;
        bottom: 0;

    }

    .container {
        font-size: 0.30rem;
        transition: all 0.5s ease-in;
        // height: 72%;
        height: 0;
        width: 100%;
        background-color: #fff;
        padding: 0 0.1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;

        header {
            width: 100%;
            height: 1.5rem;

            .h-t {
                width: 100%;
                height: 0.9rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 0.38rem;
                color: #666;

                .h-right {
                    color: #f9504c;
                    border: .02rem solid #f9504c;
                    border-radius: .06rem;
                    padding: .08rem .18rem;
                }
            }

            .h-b {
                width: 100%;
                height: 0.6rem;
                @extend %juzhong;
                color: #666;

                b {
                    flex: 1;
                    @extend %juzhong;

                    &:first-child {
                        color: #fa967f;
                    }

                    &:last-child {
                        color: #fa967f;
                    }
                }
            }
        }

        main {
            flex: 1;
            height: 100%;
            // overflow: hidden;
            overflow: auto;

            .content {
                width: 100%;

                .title {
                    width: 100%;
                    background: #fafafa;
                    text-align: center;
                    height: .6rem;
                    line-height: .6rem;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-bottom: 1px solid #d9d9d9;
                        transform: scaleY(.5);
                        transform-origin: 0 0;
                    }
                }

                .date {
                    width: 100%;
                    @extend %juzhong;
                    flex-flow: row wrap;
                    justify-content: flex-start;

                    span {
                        width: calc(100%/7);
                        height: 1rem;
                        color: #333;
                        border-bottom: 1px solid #eee;
                        @extend %juzhong;
                    }

                    span.active {
                        color: #fff;
                        background: #f9504c;
                        border-radius: .06rem;
                        font-size: 0.36rem;
                        text-align: center;
                    }
                    span.f{
                        background-color: pink;
                    }
                }
            }
        }
    }
}
