* {
  margin: 0;
  padding: 0;
}
/* 设置宽高充满整个手机屏幕 */
html,
body {
  width: 100%;
  height: 100%;
}
/* 设置最外层大盒子宽高 然后开弹性盒 设置弹性盒内容的排列顺序 为竖向 */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* 头部设置成宽百分百 高度为定高 */
header {
  width: 100%;
  height: 1.33333rem;
  background: red;
}
/* 主体部分设置成flex ：1  宽百分百 加上overflow: auto;让其主体部分的内容可以滚动 而头部尾部固定不变 */
main {
  width: 100%;
  flex: 1;
  overflow: auto;
}

main .title {
  width: 100%;
  height: 1.2rem;
  background: blue;
}
/* 给主体部分的列表也就是重复性区域加上overflow: auto;可以让其滚动 而主体的标题部分不滚动 */
main .list {
  width: 100%;
  height: 100%;
  background: #ccc;
  overflow: auto;
}

main .list .one {
  width: 100%;
  height: 2.13333rem;
  margin-top: 0.53333rem;
  background: pink;
}

main .box {
  width: 100%;
  height: 2.13333rem;
  background: maroon;
}
/* 尾部也要设置成定高 */
footer {
  width: 100%;
  height: 1.12rem;
  background: green;
}
