* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1000px;
    height: 660px;
    margin: 0px auto 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    user-select: none;
}

.top {
    width: 100%;
    height: 50px;
    background: #53B2FA;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .top1 {
        flex: 2;
        height: 100%;
        img {
            height: 100%;
        }
    }
    .top2 {
        flex: 6;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        input {
            width: 300px;
            height: 30px;
            background: #4087D4;
            border-radius: 18px;
            border: 0;
            padding-left: 10px;
            outline: none;
            font-size: 14px;
        }
        input::placeholder {
            color: #86B3E3;
        }
        i {
            position: absolute;
            right: 160px;
            color: #86B3E3;
        }
    }
    .top3 {
        flex: 2;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        b {
            flex: 1;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: #fff;
            font-weight: 500;
            i {
                width: 12px;
                height: 12px;
                border: 2px solid #fff;
                display: inline-block;
            }
        }
        .jian {
            font-size: 16px;
        }
    }
}

.main {
    width: 100%;
    height: 540px;
    display: flex;
    flex-flow: row nowrap;
    .left {
        flex: 2.5;
        height: 100%;
        border-right: 1px solid #ccc;
        .left1 {
            width: 100%;
            height: auto;
            b {
                display: flex;
                width: 96%;
                height: 40px;
                line-height: 40px;
                background: #E6E7EA;
                padding-left: 10px;
                cursor: pointer;
            }
            .left2 {
                width: 100%;
                min-height: 50px;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-around;
                align-items: space-around;
                background: #fff;
                display: none;
                span {
                    width: 96%;
                    height: 23px;
                    padding-left: 15px;
                    margin-top: 1px;
                    display: flex;
                }
            }
        }
    }
    .right {
        flex: 7.5;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        background: #F5F5F7;
        .right1 {
            width: 100%;
            height: 6%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            margin-top: 5px;
            span {
                flex: 1;
            }
            .one {
                padding-left: 20px;
            }
        }
        .right1:nth-child(even) {
            background: #fff;
        }
        .right1.active{
            background-color: lightgreen;
        }
    }
}

.foot {
    width: 100%;
    height: 69px;
    border-top: 1px solid #ccc;
    box-shadow: 3px 0px 10px #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    div {
        height: 100%;
    }
    .one {
        flex: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: #fff;
            font-size: 22px;
            width: 45px;
            height: 45px;
            background: #66B7FF;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .two {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: #fff;
            font-size: 22px;
            width: 50px;
            height: 50px;
            background: #66B7FF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 1px;
        }
    }
    .three {
        flex: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: #fff;
            font-size: 22px;
            width: 45px;
            height: 45px;
            background: #66B7FF;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .four {
        flex: 5;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        .left {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .center {
            flex: 8;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .hui {
                width: 98%;
                height: 10px;
                background: #C2C2C4;
                border-radius: 3px;
                position: relative;
                .yuan {
                    width: 18px;
                    height: 18px;
                    background: #66B7FF;
                    border-radius: 50%;
                    position: absolute;
                    top: -4px;
                    left: 0;
                }
                .lan {
                    width: 0;
                    height: 100%;
                    background: #66B7FF;
                }
            }
        }
        .right {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .five {
        flex: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        span {
            font-size: 24px;
        }
        .bai {
            width: 16px;
            height: 80px;
            background: rgba(0, 0, 0, .5);
            position: absolute;
            top: -70px;
            left: 30px;
            display: none;
            .tiao {
                width: 20px;
                height: 10px;
                background: skyblue;
                position: absolute;
                bottom: 0;
                left: -2px;
            }
            .yin {
                width: 100%;
                height: 0;
                background: pink;
                position: absolute;
                
                left: 0;
            }
        }
    }
    .six {
        flex: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 20px;
        }
    }
    .seven {
        flex: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .bei {
            width: 60px;
            height: 150px;
            background: rgba(0, 0, 0, .5);
            position: absolute;
            top: -135px;
            left: 10px;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            display: none;
            span {
                flex: 1;
                width: 100%;
                color: #fff;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            span:hover {
                background: rgba(0, 0, 0, .9);
            }
        }
        span {
            font-size: 16px;
        }
    }
}
