* {
    margin: 0;
    padding: 0;
    list-style: none;
}

@function px2rem($px) {
    @return $px/37.5px*1rem;
}

@mixin w_h($w:100%, $h:100%) {
    width: $w;
    height: $h;
}

%juzhong {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border($color:#ccc) {
    &::before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(0.5, 0.5);
        transform-origin: left top;
        border-bottom: solid px2rem(1px) $color;
        box-sizing: border-box;
    }
}
html,body{
    @include w_h;
}
.container{
    @include w_h;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: px2rem(40px);
    background: pink;
    @extend %juzhong;
    .left{
        flex: 1;
        @extend %juzhong;
        font-size: 20px;
    }
}
main{
    height: 100%;
    flex: 1;
    background: #ccc;
    overflow: auto;
    .nav{
        width: 100%;
        height: px2rem(40px);
        background-color: orange;
        display: flex;
        span{
            flex: 1;
            @extend %juzhong;
            font-size: 20px;
        }
    }
    .box{
        width: 100%;
        overflow: hidden;
    }
    .banner{
        width: 300%;
        transition: all 1s linear;
        transform: translateX(-33.3333%);
        display: flex;
        .slide{
            width: 100%;
        }
        .one{
            width: 100%;
            height: px2rem(250px);
            background: red;
        }
        .two{
            background: purple;
            height: px2rem(180px);
        }
        .three{
            background: mediumblue;
            height: px2rem(250px);
        }
    }
    .list{
        width: 100%;
        height: px2rem(200px);
        background: greenyellow;
        position: relative;
        @include border(red);
        display: flex;
        flex-flow: row wrap;
        .item{
            width: 25%;
           @extend %juzhong;
            flex-direction: column;
            i{
                border-radius: 50%;
                width: px2rem(30px);
                height: px2rem(30px);
                background: olive;
                display: inline-block;
            }
            span{
                font-size: 18px;
                height: px2rem(30px);
                @extend %juzhong;
            }
        }
    }
    .title{
        width: 100%;
        height: px2rem(40px);
        @extend %juzhong;
        background: rgba(0, 0, 0, .7);
        color: #fff;
        font-size: 20px;
        margin-top: px2rem(10px);
    }
    .fixed{
        position: fixed;
        left: 0;
        margin-top: 0;
        top: px2rem(50px);
        z-index: 9999;
    }
    .content{
        width: 100%;
        margin-top: px2rem(15px);
        .one{
            width: 100%;
            height: px2rem(130px);
            display: flex;
            position: relative;
            @include border(red);
            .one-left{
                width: 35%;
                background: greenyellow;
                height: 100%;
            }
            .one-right{
                width: 65%;
                background-color: mediumorchid;
                height: 100%;
            }
        }
    }
}

footer{
    width: 100%;
    height: px2rem(40px);
    background-color: red;
    .bottom{
        display: flex;
        height: 100%;
    }
    span{
        flex: 1;
        @extend %juzhong;
        font-size: 20px;
    }
}

