* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: calc(100/750*100vw);
}

main .nav span, main .title span, main .list .item .box .item-left, main .list .item .box .item-right, main .list .item .box .item-right p, main .list .item .box .deletes, main .list .loadUp, main .list .loadDown {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1rem;
  background: red;
}

main {
  flex: 1;
  overflow: hidden;
}

main .wrap {
  width: 100%;
}

main .nav {
  width: 100%;
  height: 1.2rem;
  border-bottom: 1px solid #000;
  display: flex;
}

main .nav span {
  flex: 1;
}

main .nav span.active {
  background: red;
}

main .banner {
  width: 100%;
  height: 3.2rem;
  background: green;
}

main .banner .swiper-container, main .banner .swiper-wrapper, main .banner .swiper-slide {
  width: 100%;
  height: 100%;
}

main .title {
  width: 100%;
  background: #ccc;
  height: 0.8rem;
  font-size: 16px;
  display: flex;
}

main .title span {
  flex: 1;
}

main .title span.active {
  background: pink;
}

main .list {
  width: 100%;
  height: calc(100% - 5.2rem);
  overflow: hidden;
}

main .list .content {
  width: 100%;
  position: relative;
}

main .list .item {
  width: 100%;
  height: 2rem;
  display: flex;
  position: relative;
}

main .list .item .box {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: 0;
  transition: 1s;
  top: 0;
}

main .list .item .box .item-left {
  width: 40%;
  height: 100%;
  background: magenta;
}

main .list .item .box .item-right {
  width: 60%;
  height: 100%;
  flex-direction: column;
  background: mediumseagreen;
  font-size: 18px;
}

main .list .item .box .item-right p {
  height: 33%;
  width: 100%;
}

main .list .item .box .deletes {
  width: calc(0.5rem * 2);
  height: 100%;
  background: red;
  color: #fff;
  position: absolute;
  right: calc(-0.5rem * 2);
  font-size: calc(0.12rem * 2);
}

main .list .loadUp, main .list .loadDown {
  width: 100%;
  height: 0.6rem;
  background: #ccc;
  font-size: 14px;
}

footer {
  width: 100%;
  height: 1.2rem;
  background: pink;
}
