*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    font-size: 13.333333vw;
}
%juzhong{
    display: flex;
    justify-content: center;
    align-items: center;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    height: 2.68rem;
    background-color: rgba(7,17,27,0.5);
    .h-t{
        width: 100%;
        height: 2.12rem;
        display: flex;
        .h-left{
            width: 1.28rem;
            height: 1.28rem;
            margin-left: 0.48rem;
            margin-top: 0.48rem;
            margin-right: 0.32rem;
            margin-bottom: 0.36rem;
            img{
                width: 100%;
                height: 100%;
                border-radius: 0.04rem;
            }
        }
        .h-mid{
            ul{
                li{
                    &:nth-child(1){
                        margin-top: 0.04rem;
                        margin-bottom: 0.16rem;
                        span{
                            font-size: 0.32rem;
                            color: rgb(255,255,255);
                            font-weight: bold;
                            line-height: 0.36rem;

                        }
                        img{
                            margin-right: 0.12rem;
                        }
                    }

                    &:nth-child(2){
                        margin-bottom: 0.20rem;
                        span{
                            font-size: 0.24rem;
                            color: rgb(255,255,255);
                            font-weight: 200;
                            line-height: 0.24rem;
                        }
                    }
                    &:nth-child(3){
                        margin-top: 0.04rem;
                        margin-bottom: 0.16rem;
                        span{
                            font-size: 0.20rem;
                            color: rgb(255,255,255);
                            font-weight: 200;
                            line-height: 0.24rem;

                        }
                        img{
                            margin-right: 0.08rem;
                            margin-left: 0.04rem;
                        }
                    }
                }
            }
        }
        .h-right{
            span{
                height: 0.48rem;
                font-size: 20px;
                color: rgb(255,255,255);
                font-weight: 200;
                line-height: 24px;
                display: inline-block;
                background-color: rgba(0,0,0,0.2);
            }
        }
    }
}

