* {
    margin: 0;
    padding: 0;
    list-style: none;
}

%juzhong {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: calc(100/750*100vw);
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 0.9rem;
    @extend %juzhong;

    .h-left,
    .h-right {
        flex: 1;
        @extend %juzhong;
    }

    .h-mid {
        flex: 8;
        @extend %juzhong;

        input {
            width: 80%;
            height: 80%;
        }
    }
}

main {
    
    flex: 1;
    overflow: hidden;
    height: 100%;
    display: flex;
    font-size: 0.3rem;

    .m-left {
        width: 25%;
        height: 100%;
        overflow: hidden;

        .left {
            display: flex;
            flex-direction: column;

            .none {
                display: none;
            }

            span {
                width: 100%;
                height: 0.92rem;
                background: #f8f8f8;
                @extend %juzhong;
            }
        }
    }

    .m-right {
        width: 75%;
        height: 100%;
        overflow: hidden;
        .none {
            display: none;
        }
        .l-title{
            font-size: 0.4rem;
        }
        .right {
            width: 100%;
        }
        .r{
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
        }
        .item {
            width: 30%;
            height: 3.6rem;
            @extend %juzhong;
            flex-flow: column wrap;
            background: #666;

            i {
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                display: flex;
                background-color: aqua;
            }

            span {
                font-size: 0.3rem;
            }
        }
    }
}

footer {
    width: 100%;
    height: 1rem;
    display: flex;

    .f-item {
        width: 25%;
        height: 100%;
        @extend %juzhong;
        flex-direction: column;

        i {
            font-size: 0.46rem !important;
        }

        span {
            font-size: 0.26rem;
        }
    }
}
.ding{
    width: 2rem;
    height: 1rem;
    background-color: red;
    position: fixed;
    right: 0.2rem;
    bottom: 1.2rem;
    font-size: 0.34rem;
}
