* {
  margin: 0;
  padding: 0;
  list-style: none;
}

header, header .h-left,
header .h-right, header .h-mid, main .m-left .left span, main .m-right .item, footer .f-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: calc(100/750*100vw);
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 0.9rem;
}

header .h-left,
header .h-right {
  flex: 1;
}

header .h-mid {
  flex: 8;
}

header .h-mid input {
  width: 80%;
  height: 80%;
}

main {
  flex: 1;
  overflow: hidden;
  height: 100%;
  display: flex;
  font-size: 0.3rem;
}

main .m-left {
  width: 25%;
  height: 100%;
  overflow: hidden;
}

main .m-left .left {
  display: flex;
  flex-direction: column;
}

main .m-left .left .none {
  display: none;
}

main .m-left .left span {
  width: 100%;
  height: 0.92rem;
  background: #f8f8f8;
}

main .m-right {
  width: 75%;
  height: 100%;
  overflow: hidden;
}

main .m-right .none {
  display: none;
}

main .m-right .l-title {
  font-size: 0.4rem;
}

main .m-right .right {
  width: 100%;
}

main .m-right .r {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

main .m-right .item {
  width: 30%;
  height: 3.6rem;
  flex-flow: column wrap;
  background: #666;
}

main .m-right .item i {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: flex;
  background-color: aqua;
}

main .m-right .item span {
  font-size: 0.3rem;
}

footer {
  width: 100%;
  height: 1rem;
  display: flex;
}

footer .f-item {
  width: 25%;
  height: 100%;
  flex-direction: column;
}

footer .f-item i {
  font-size: 0.46rem !important;
}

footer .f-item span {
  font-size: 0.26rem;
}

.ding {
  width: 2rem;
  height: 1rem;
  background-color: red;
  position: fixed;
  right: 0.2rem;
  bottom: 1.2rem;
  font-size: 0.34rem;
}
